Repository webriq-pagebuilder/site-template-default, pull requests merged in 2023-06, with the labels that each got.

#142 Update auto login for W-Studio V3
  pages/studio/[[...index]].tsx
  public/assets/elements/Settings_Monochromatic-01.svg
  studio/components/AutologinPrepage.tsx
Labels: bug, enhancement, WebriQ Studio V3

#144 wrap in container
  package.json
  yarn.lock
Labels: enhancement, WebriQ Studio V3

#143 Fix Store documents not read-only if C-Studio is disabled
  studio/documentActions/actions/createMainProductPublishAction.tsx
  studio/documentActions/actions/createProductsPublishAction.tsx
  studio/utils/index.ts
  yarn.lock
Labels: bug, WebriQ Studio V3

#145 Exclude i18n and server files from default sitemap.xml
  netlify.toml
  next.config.mjs
Labels: enhancement
